<!DOCTYPE html>
<!--
  Develop by Ishchenko Timofej
  https://github.com/junge8971
  tortik8971@bk.ru
-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid p-4">
            <a class="navbar-brand" href="/"><h1>Lora viewer</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse  justify-content-end" id="collapsibleNavId">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="/" class="nav-link text-dark">sensor</a>
                </li>
                <li class="nav-item">
                    <a href="/sensor_reading" class="nav-link text-dark">sensor_reading and sensors</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer class="footer text-white bg-dark p-3 mt-2">
      <i><b>©Lora viewer 2023</b></i>
    </footer>
      <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    </body>
    </html>
